@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<Product>
<div class="ms-2 mx-2">
    <h1>Product List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Thể loại</th>
                    <th>Link ảnh</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.ProductName</td>
                        <td>@p.ProductPrice</td>
                        <td>@p.Category.CategoryName</td>
                        <td><a href="@p.ImageUrl">Click vào đây</a></td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@p.ProductID">Edit</a>|<a asp-action="Delete"
                                                                                         asp-route-id="@p.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    <a asp-action="Create" class="btn btn-primary">Create new product</a>
</div>

